<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke Test">

	<listeners>
		<listener class-name="com.sat2credit.utilities.Reports" />
		<listener class-name="com.sat2credit.utilities.AnnotationTransformer" />
	</listeners>

	<test thread-count="5" name="LoginScreen">
		<classes>
			<class name="com.sat2credit.testcases.LoginScreen">
				<methods>
					<exclude name="enterPhoneNumberInField_TC004"/>
					<exclude name="enterPasswordInField_TC007"/>
					<exclude name="verifyPasswordEncryption_TC008"/>
					<exclude name="verifyPasswordUnencription_TC011"/>
					<exclude name="verifyPhoneNumberWarningMessage_TC012" />
					<exclude name="verifyPasswordWarningMessage_TC013" />
					<exclude name="enterValidCredentialsAndClickLoginButton_TC015"/>
				</methods>
			</class>
		</classes>
	</test> <!-- Login Screen -->
	
</suite> <!-- Smoke Test -->
